@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.header {
  font-family: audiowide, "Segoe UI", Roboto, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 3rem;
  color: #8353be;
  margin-bottom: 1rem;
}

/* Responsive for mobile */

@media only screen and (max-width: 420px) {
  .header {
    font-size: 2.5rem;
  }
}
